project_id           = "my-app"
project_display_name = "My Application"
pg_version           = 17

extra_branches = {
  development = { min_cu = 0.5, max_cu = 2, no_expiry = true }
  staging     = { min_cu = 0.5, max_cu = 4, no_expiry = true }
}

manage_groups = ["Engineering"]
use_groups    = ["Data Analysts"]
manage_users  = ["lead@company.com"]
use_users     = ["analyst@company.com"]
